

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
header{
    background-image: url("../images/Hero-bg.png");
    height: 698px;
    /* max-width: 1440px; */
    margin: 0 auto;
}

/* Nav style*/
.nav{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 151px;
    align-items: center;
    margin: 0 auto;
    

}
.nav h3{
    color: #4E47FF;
    font-size: 34px;
    font-weight:black ;
}
.nav-button{
    background-color: #4E47FF;
    height: 48px;
    width: 132px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
} 

.header-titel{
    font-size: 65px;
    max-width: 905px;
    height: 152px;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    padding: 90px 20px 0px;
}
.h-button{
    background-color: #4E47FF;
    height: 48px;
    width: 174px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
}
.header-button{
      margin: 0;
      display: flex;
      justify-content: center;
      padding: 37px;
}

/* action part */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    height: 328px;
    margin: 0 auto;
    padding: 100px 150px;
}

.action-title{
    font-size: 42px;
    color: #252432;
    font-weight: bold;
    
}
.action-title-description{
    max-width: 517px;
    font-size: 24px;
    color: #25243273;
    font-weight: 400;

}
.action-button{
    background-color: #4E47FF;
    height: 48px;
    width: 229px;
    border: none;
    color: white;
    padding: 12px 36px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
}

/* user section */

.user{
    max-width: 1140px;
    height: 306px;
    background-color: #4d47ff11;
    margin: 0 auto;
    border-radius: 20px;
}
.user-heading{
    max-width: 856px;
    height: 45px;
    font-size: 38px;
    color: #252432;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}
.user-detail{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    text-align: center;
}

.title-text{
    font-size: 50px;
    font-weight: bold;
    color: #4E47FF;
    padding-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
.title-description{
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.397);
    padding-top: 0;
}
.about-title{
    max-width: 180px;
    height: 121px;
}